apiVersion: v2
name: "{{ chart_name }}"
description: "{{ chart_description }}"
type: application
version: "{{ chart_version }}"
appVersion: "{{ chart_app_version }}"
maintainers:
  - name: Martin Kuba
    email: makub@cesnet.cz
