apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ cnpg_cluster_name }}-network-policy"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "firewall for CNPG cluster {{ cnpg_cluster_name }}"
spec:
  podSelector:
    matchLabels:
      cnpg.io/cluster: "{{ cnpg_cluster_name }}"
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: cloudnativepg
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: "{{ k8s_namespace }}"
{% for p in cnpg_cluster_firewall_ports + cnpg_cluster_firewall_additional_ports %}
        - ipBlock: # {{ p.comment }}
            cidr: {{ p.ipv4 if p.ipv4 is defined else p.ipv6 }}
{% endfor %}
