apiVersion: v1
kind: Service
metadata:
  name: "{{ cnpg_cluster_name }}-lb-rw"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "exposing CloudNativePG cluster at {{ cnpg_cluster_name }}-lb-rw.dyn.cloud.e-infra.cz"
    metallb.io/address-pool: default
    external-dns.alpha.kubernetes.io/hostname: "{{ cnpg_cluster_name }}-lb-rw.dyn.cloud.e-infra.cz"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - port: 5432
      targetPort: 5432
  ipFamilies:
    - IPv4
    - IPv6
  ipFamilyPolicy: RequireDualStack
  allocateLoadBalancerNodePorts: false
  selector:
    cnpg.io/cluster: "{{ cnpg_cluster_name }}"
    role: primary
