apiVersion: v1
kind: Secret
metadata:
  name: "{{ cnpg_cluster_name }}-app"
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "secret for db users"
type: Opaque
stringData:
  username: "{{ cnpg_cluster_db_owner }}"
  password: "{{ cnpg_cluster_user_password }}"
  host: "{{ cnpg_cluster_name }}-rw"
  dbname: "{{  cnpg_cluster_db_name }}"
  # allow monitoring
  postInitAppSQL: |
    CREATE USER pgwatch WITH PASSWORD '{{ cnpg_cluster_pgwatch_user_password }}';
    COMMENT ON ROLE pgwatch IS 'account for monitoring';
    GRANT CONNECT ON DATABASE {{ cnpg_cluster_db_name }} TO pgwatch;
    GRANT pg_read_all_stats TO pgwatch;
    COMMENT ON ROLE {{ cnpg_cluster_db_owner }} IS 'account for application';
    CREATE SCHEMA AUTHORIZATION {{ cnpg_cluster_db_owner }};
