apiVersion: v1
kind: Secret
metadata:
  name: s3-creds
  namespace: "{{ k8s_namespace }}"
  annotations:
    field.cattle.io/description: "key id and secret key for S3 storage"
type: Opaque
stringData:
  ACCESS_KEY_ID: "{{ cnpg_cluster_aws_access_key_id }}"
  ACCESS_SECRET_KEY: "{{ cnpg_cluster_aws_secret_access_key}}"
